@model BIRC.Models.Repositories.BaseModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/SpareParts/ReportGeral.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BaseModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
