@{
    ViewData["Title"] = "Main Menu";
}

<script src="https://kit.fontawesome.com/3460d3f266.js"crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/DataTables/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="/css/StyleHomenu.css">

<div class="row">
    <div class="col-lg-3">
        <a href="SpareParts/SpareMenu" style="text-decoration:none" class="align-content-between">
            <div class="card" style="height:200px">
                <div class="card-body">
                    <h3 style="text-align:center">SPARE PARTS RC</h3>
                    <div style="text-align:center">
                        <i id="icon" class="fa fa-cogs"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3">
          <a href="SpareParts/ReportGeral" style="text-decoration:none" class="align-content-between">
            <div class="btn5" style="height:200px">                
                <div class="card-body">
                    <h3 style="text-align:center">REPORTS</h3>
                    <div style="text-align:center">
                        <i id ="icon" class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>                
                </div>                
            </div>
        </a>
    </div>
</div>

<script src="https://kit.fontawesome.com/3460d3f266.js" crossorigin="anonymous"></script>












<!--
<script>
    document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {
            document.getElementById('contents').style.visit = "hidden";
        } else if (state == 'complete') {
            setTimeout(function () {
                document.getElementById('interactive');
                document.getElementById('load').style.visibility = "hidden";
                document.getElementById('contents').style.visibility = "visible";
            }, 2000);
        }
</script>*

<div class="row">   
    <div class="col-lg-3">
    var state = document.readyState
    if (state == 'interactive') {
    document.getElementById('contents').style.visit = "hidden";
    } else if (state == 'complete') {
    setTimeout(function () {
    document.getElementById('interactive');
    document.getElementById('load').style.visibility = "hidden";
    document.getElementById('contents').style.visibility = "visible";
    }, 2000);
    }
    </script>

<div class="row">
    
    <div class="col-lg-3">
        <a href="VolumeInRc" style="text-decoration:none" class="align-content-center">
            <div class="card" style="height:200px">
                <div class="card-body">
                    <h3 style="text-align:center">TAT - Online</h3>
                    <div style="text-align:center" class="card-body">
                        <i class="fas fa-chart-pie" id="icon"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    -->

   

    <!--
    <div class="col-lg-3">

   <div class="col-lg-3">
        <a href="#" style="text-decoration:none" class="align-content-between">
            <div class="card" style="height:200px">
                <div class="card-body">
                    <h3 style="text-align:center; font:5px;">Operational Support</h3>
                    <div style="text-align:center">
                        <i id="icon" class="fas fa-map"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3">

  <div class="col-lg-3">

        <a href="#" style="text-decoration:none" class="align-content-between">
            <div style="background-color: #ffd800; height:200px" class="card">
                <div class="card-body">
                    <h3 style="text-align:center">Admin</h3>
                    <div style="text-align:center">
                        <i id="icon" class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    -->



