
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h2>WEB PAGE IN DEVELOPMENT</h2>
     

</body>
</html>