@model BIRC.Models.Entities.SpareParts
@{
    ViewData["Title"] = "Create";
}

<h2>Register new item</h2>
<hr />

<style>
    input {
        text-transform: uppercase;
    }
</style>

<form asp-action="Create" method="post">

    <div class="form-row">

        <div class="col-md-4 mb-3">
            <label asp-for="PartNumber" class="control-label"></label>
            <input asp-for="PartNumber" class="form-control" />
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="col-md-2 mb-3">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" type="number" class="form-control" maxlength="999999" min="0" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="col-md-2 mb-3">
            <label asp-for="minimumQuantity" class="control-label"></label>
            <input asp-for="minimumQuantity" type="number" class="form-control" maxlength="999999" min="0"/>
            <span asp-validation-for="minimumQuantity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Location" class="control-label"> </label>
            <select asp-for="Location" class="custom-select" required>
                <option selected>Select Location...</option>
                <option>
                    ARMARIO SPARE PARTS
                </option>
            </select>
            <span asp-validation-for="Location" class="text-danger"></span>

        </div>

        <div class="col-md-3 mb-3">
            <label asp-for="DtIn" class="control-label">Date In</label>
            <input asp-for="DtIn" class="form-control" />
            <span asp-validation-for="DtIn" class="text-danger"></span>
        </div>

    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="PurchaseOrder" class="control-label">Purchase Order</label>
            
            <input asp-for="PurchaseOrder" type="number" class="form-control"  maxlength="15" min="0" />
        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" style="padding-top:10px" />

</form>


<div style="padding-top:10px">
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


